@font-face{font-family:Remix;src:url('fonts/remixicon.woff2') format('woff2');font-display:block} .ri{font-family:Remix!important;font-style:normal;font-weight:normal;line-height:1;display:inline-block;speak:none;-webkit-font-smoothing:antialiased;}
.ri-home-5-line:before { content: "\ee1f"; }
.ri-diamond-line:before { content: "\f5e3"; }
.ri-diamond-fill:before { content: "\f5e2"; }
.ri-heart-line:before { content: "\ee0f"; }
.ri-heart-fill:before { content: "\ee0e"; }
.ri-history-line:before { content: "\ee17"; }
.ri-wallet-3-line:before { content: "\f2ac"; }
.ri-information-line:before { content: "\ee59"; }
.ri-arrow-right-up-line:before { content: "\ea70"; }
.ri-arrow-left-line:before { content: "\ea60"; }
.ri-arrow-right-s-line:before { content: "\ea6e"; }
.ri-add-line:before { content: "\ea13"; }
.ri-close-line:before { content: "\eb99"; }
.ri-search-line:before { content: "\f0d1"; }
.ri-eth-line:before { content: "\f408"; }
.ri-box-3-fill:before { content: "\f2f4"; }
.ri-sparkling-fill:before { content: "\f36c"; }
.ri-dice-5-fill:before { content: "\f3fb"; }
.ri-dice-3-fill:before { content: "\f3f7"; }
.ri-rocket-2-fill:before { content: "\f093"; }
.ri-coin-fill:before { content: "\ebb1"; }
.ri-copper-coin-fill:before { content: "\ebdb"; }
.ri-apps-2-line:before { content: "\ea42"; }
.ri-grid-fill:before { content: "\edde"; }
.ri-fire-fill:before { content: "\ed32"; }
.ri-focus-3-line:before { content: "\ed4c"; }
.ri-arrow-down-s-fill:before { content: "\ea4d"; }
.ri-subtract-line:before { content: "\f1af"; }